.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lottie {
  width: 16rem;
  height: 16rem;
  transform: scale(0);
  animation: pumbUpAnim 1s cubic-bezier(1,-0.29,0,1.43) 3s forwards;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  gap: 4rem;

  &__title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--onBackground);
    text-align: center;
    opacity: 0;
    animation: slideUpAnim 1s cubic-bezier(0, 0, 0, 1) 3.5s forwards;
  }

  &__subtitle {
    font-size: 1rem;
    padding: 0 2rem;
    color: var(--subtitle);
    margin-top: .5rem;
    text-align: center;
    opacity: 0;
    animation: slideUpAnim 1s cubic-bezier(0, 0, 0, 1) 3.6s forwards;
  }

  &__back_home {
    background: var(--box);
    color: var(--onBackground);
    font-size: 1rem;
    padding: 1rem 3rem;
    border-radius: .5rem;
    transition: all .1s;
    opacity: 0;
    animation: slideUpAnim 1s cubic-bezier(0, 0, 0, 1) 3.7s forwards;

    &:hover {
      background: var(--onBackground);
      color: var(--background);
    }
  }
}

@media only screen and (min-width: 680px) {
  
  .lottie {
    width: 24rem;
    height: 24rem;
  }
  
  .message {
  
    &__title {
      font-size: 5rem;
      font-weight: 700;
    }
  
    &__subtitle {
      font-size: 1rem;
    }
  
    &__back_home {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 920px) {
  .main {
    flex-direction: row;
    gap: 5rem;
  }
  
  .lottie {
    width: 32rem;
    height: 32rem;
  }
  
  .message {
    width: 40%;
    align-items: flex-start;
    gap: 5rem;
  
    &__title {
      font-size: 5rem;
      font-weight: 700;
      text-align: start;
    }
  
    &__subtitle {
      font-size: 1rem;
      text-align: start;
      padding: 0;
    }
  
    &__back_home {
      font-size: 1rem;
    }
  }
}

@keyframes pumbUpAnim {
  from {
    opacity: 0;
    transform: scale(.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUpAnim {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}