.footer__social_medias {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  list-style-type: none;

  svg {
    width: 1.75rem;
    height: 1.75rem;

    path {
      transition: fill .3s;
      fill: var(--subtitle);
    }
  }

  &__facebook:hover path {
    fill: #4267b2;
  }

  &__instagram:hover path {
    opacity: 1;
    fill: #c13584;
  }

  &__twitter:hover path {
    opacity: 1;
    fill: #00acee;
  }
}